body {
    background-image: url("contemporary_china.png");
    background-repeat: repeat;
    color: #9d312f;
    margin: 0px;
}

#page {
    width: 1200px;
    height: 1040px;
    margin: 0px auto;
    background-color: white;
    -moz-box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.5);
}

.header {
    width: 1200px;;
    height: 50px;
    position: absolute;
}

#header-bg {
    background-color: #5F9EA0;
    opacity: 0.7;
}

.header a {
    float: right;
    display: block;
    vertical-align: middle;
    font-family: 'Sintony', sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
    text-indent: 3px;
    color: black;
    padding: 30px;
    text-decoration: none;
    margin-top: -16px;
}

.header a:hover{
    color: #cf000b;
    opacity: 0.7;
}

#wonton {
    position: absolute;
    top: 0px;
    width: 1200px;
    height: 500px;
}

.title {
    width: 300px;
    height: 230px;
    position: absolute;
    margin-left: 100px;
    text-align: center;
    font-family: 'Bungee Shade', cursive;
    padding-top: 270px;
    padding-right: 0px;
}

#title-bg {
    opacity: 0.7;
    background-color: #9fc4c6;
}

.title h1 {
    font-size: 70px;
    line-height: 30%;
    letter-spacing: 30px;
    text-indent: 30px;
}

.title h2 {
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 8px;
    text-indent: 8px;
    font-size: 20px;
    font-family: "Sintony", san-serif;
}
#logo {
    position: absolute;
    width: 200px;
    margin-left: 150px;
    margin-top: 70px;
}

#third-container {
    position: absolute;
    margin-top: 515px;
    margin-left: 25px;
    width: 1110px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;

}

.third {
    width: 30%;
    text-align: left;
    font-family: 'Bungee Shade', cursive;

}

.third h1 {
    color: white;
    line-height: 200%;
    letter-spacing: 3px;
    font-size: 25px;
    height: 30px;
}

.third h1 span {
    background-color: #5F9EA0;
    opacity: 0.7;
    padding-left: 20px;
    padding-right: 0px;
}

.third h2 {
    font-family: "Sintony", sans-serif;
    font-weight: 400;
    color: black;
    font-size: 18px;
    line-height: 80%;
    letter-spacing: 4px;
    text-indent: 10px;
}

.thirdBlock {
    margin-top: 50px;
}

#map {
    margin-top: 30px;
}

.third table {
    width: 100%;
    margin-top: 50px;
    color: black;
    font-family: "Sintony", sans-serif;
    line-height: 140%;
    font-size: 18px;
    text-align: right;

}

.day {
    font-weight: 700;
    letter-spacing: 3px;
    text-align: left;
}

#location {
    float: left;
}


#hours {
    display: inline-block;
}

#contact {
    float: right;
}

#contact .thirdBlock h1 {
    color: black;
    font-family: "Sintony", sans-serif;
    font-size: 18px;
    margin-top: -7px;
}

#contact h2 {
    text-indent: 50px;
}
